body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.stepper-container {
    width: 600px;
    margin: auto;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

.step {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 1;
}

.step::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E0E6F0;
    z-index: -1;
}

.step:last-child::before {
    width: 0;
}

.step-number {
    width: 36px;
    height: 36px;
    background: #E0E6F0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: 0.3s;
}

.step.active .step-number {
    color: #333;
    border-color: #333;
}

.step.completed::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
    z-index: -1;
}
.step:last-child{
    width: 0;
}
.step.completed:last-child::after{
    width: 0;
}
.step.completed .step-number {
    color: #fff;
    background: #333;
}

.step:last-child::before {
    width: 0; 
}
.step-content {
    display: none;
}

.step-content.active {
    display: block;
}
.step.last-step::before {
    background: #E0E6F0;
}


/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Labels */
label {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

/* Input Fields */
input {
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    transition: 0.3s ease;
    font-size: 16px;
    background: #333;
    color: white;
}

input:focus {
    border: 2px solid #007bff;
    background: #444;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}
